body{
    box-sizing: border-box;
    background-color: rgb(200, 229, 255);
}
img{
    display: flex;
    margin: auto;
    width: 450px;
    border-radius: 10px;
    margin-top: 200px;
    box-shadow: 10px 10px 15px darkgray ;
}   
h1{
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}
